.main{
    height: 100px;
    width: 100px;
    background-color: blue;
}

.main:hover{
    /* transform: translate(300px); */
    transition: 2s ease;
    /* transform: scale(1.5); */
    /* transform: rotate(360deg); */
    transform: skew(50deg);

}